# Local/private config goes in the include
[include]
        path = ~/.gitconfig.local
[hub]
        protocol = https
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count   = !git shortlog -sn
        s = status --short --ignore-submodules=dirty
        ci = commit
        br = branch

        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
        lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
        ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
        le = log --oneline --decorate
        lbs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        fl = log -u
        f = "!git ls-files | grep -i"
        gr = grep -Ii

        la = "!git config -l | grep alias | cut -c 7-"

        in = log --pretty=oneline --abbrev-commit --graph ..@{u}
        out = !git fetch && git log --pretty=oneline --abbrev-commit --graph @{u}..

        branches = branch -a
        tags = tag
        stashes = stash list
        staash = stash --all

        unstage = reset -q HEAD --
        discard = checkout --
        uncommit = reset --mixed HEAD~
        amend = commit --amend

        graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order

        nevermind = !git reset --hard HEAD && git clean -d -f
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[user]
	name = Mark Philpot
	email = mark.philpot@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
